.product_container{
    display: flex;
    margin: 50px 130px;
}

/* search comp css  */
.search_div{
    width: 280px;
    background-color: #f4f5f9;
    box-shadow: 0px 0px 5px gainsboro;
    border-radius: 7px;
    padding: 15px;
    margin-top: 20px;
    height: 80vh;
}
.search_hr{
    border-bottom: 1px solid rgb(189, 187, 187) ;
    
    /* width: 300px !important; */
}
.search_head{
    margin-left: 5px;
}
.search_main_ul>li,.search_sub_ul>li{
   display: flex;
   padding: 7px 5px;
   border-radius: 3px;
}
.search_main_ul>li:hover,.search_sub_ul>li:hover{
    
    background-color: #d4edec;
}
.search_ul_imgs{
    width: 15px;
    height: 15px;
    margin-top: 5px;
}
.search_main_ul>li>p,.search_sub_ul>li>p{
    margin-bottom: 0px;
    margin-left: 10px;
    font-weight: 500;
}
.search_sub_ul{
    margin-left: 22px;
}

/* search result head css  */

.search_result_div{
    /* border: 2px solid rebeccapurple; */
    width: 800px;
    margin-top: 15px;
    margin-left: 20px;
}
.search_result_head_div{
    display: flex;
    justify-content: space-between;
}
.search_reslut{
    color: #b5bbd9;
}
.search_reslut>span{
    color: #1cc1a0;
    /* display: flex; */
}

.topic_head_div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.topic_head_div>p{
    color: #b5bbd9;
    font-size: .9em;
    margin-bottom: 0px;
}

/* issue card css  */

.issue_card_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.issue_Card_title{
    /* border: 2px solid red; */
    padding-top: 0px;
    /* margin-top: -15px; */
    text-align: start;
    color: black;
    /* margin-left: 15px; */
}
.issue_card_img{
    position: relative;
}
.card_num{
    position: absolute;
    width: 30px;
    height: 30px;
    /* left:  240px; */
    right: 12px;
    top: 130px;
}
.issue_loc{
    /* border: 2px solid red; */
    margin: 0px;
    text-align: start;
    display: flex;
    justify-content: start;
}
.issue_loc>p{
    /* border: 2px solid red; */
    margin-bottom: 0px !important;
    margin-top: -3px;
    font-size: .8em;
    text-align: start;
}
.issue_card_body{
    padding: 4px 10px;
}
.issue_card_body>p{
    text-align: start;
}
.issue_card_user{
    margin-top: 10px !important;
}
.issue_card{
    /* text-align: start !important; */
    /* padding: 0px 15px; */
    background-color: #f4f5f9;
    border: none !important;
    box-shadow: 0px 0px 5px gainsboro;
    /* margin: 10px; */
}

/* proposal card css  */

.pro_proposal_card_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
}

.proposal_card_body{
    width: 380px;
    background-color: #f4f5f9;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px gainsboro;
}
.proposal_card_body>p{
    text-align: start;
    color: #8c9cb5;
    /* margin: 0px; */
}
.proposal_Card_title{
    display: flex;
    justify-content: space-between;
}
.proposal_card_user{
    /* border: 2px solid red; */
    padding: 0px;
}
.proposal_loc{
    display: flex;
    justify-content: space-between;
}
.proposal_loc>div>span{
    margin-left: 5px;
    color: #8c9cb5;
}
.proposal_loc>div{
    color: #8c9cb5;
}

/* list style css  */

.proposal_list_body{
    background-color: #f4f5f9;
    box-shadow: 0px 0px 10px gainsboro;
    padding: 10px 15px;
    border-radius: 7px;
    margin-top: 20px;
}
.pro_list_loc{
    display: flex;
    justify-content: space-between;
    /* flex-direction: row-reverse; */
}

.list_user{
    margin-top: 0px;
}
.list_perticipant{
    /* border: 2px solid red; */
    margin-top: 15px !important;
    width: 300px;
    height: 30px;
}
.proposal_list,.list_date{
    margin-top: 15px;
    color: #8c9cb5;
}
.list_date{
    font-size: .9em;
}
.proposal_list>div>span{
    margin-left: 8px;
    font-size: .9em;
}
.list_perticipant>div>span{
    display: inline-block;
}

.proposal_list_farming>div{
    display: flex;
}
.proposal_list_farming>div>img{
    width: 25px;
    height: 25px;
}
.proposal_list_farming>div>p{
    margin-bottom: 5px;
    color: #8c9cb5;
    font-size: .9em;
    margin-left: 10px;
}

.issue_list_style{
    display: flex;
    padding: 0px;
}
.list_style_img{
    position: relative;
}
.card-img-top{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.issue_list_data{
    margin-top: 5px;
}
.issue_list_data>p{
    margin-bottom: 0px;

}
.issue_list_loc>div{
    display: flex;
    /* border: 2px solid red; */
}
.issue_list_loc{
    margin-top: 5px;
}
.issue_list_loc>div>p{
    margin: 0px;
    font-size: .9em;
    margin-left: 10px;
}
.list_issue_body{
    margin-left: 8px;
    padding: 8px;
}
.isseu_list_title{
    padding: 0px;
}
.isseu_list_title>h5{
    margin-bottom: 0px;
}
.list_issue_user{
    margin-bottom: 0px;
    margin-right: 8px;
}
.list_card_num{
    position: absolute;
    right: 15px;
    bottom: 10px;
}

/* .survey card css  */

.perticipant_div{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.perticipant_div>div>span{
    margin-left: 5px;
    color: #8c9cb5;
    font-size: .9em;
}

.pro_survey_user{
    /* border-top: 1px solid gray; */
    padding: 2px 7px;
}
.pro_survey_user>div>p{
    margin: 0px inherit;
}
.survey_hr{
    border: 1px solid rgb(211, 210, 210);
    width: 100%;
    margin-bottom: 0px !important;
    margin-top: 15px;
    /* height: 200px; */
    /* transform: rotate(180deg) !important; */
}

.card-text{
    color: #8c9cb5;
}